Package: nxlog-ce-dbg
Source: nxlog-ce
Version: 2.10.32
Architecture: amd64
Maintainer: Botond Botyanszki <boti@nxlog.org>
Installed-Size: 11405
Depends: nxlog-ce (= 2.10.32)
Section: debug
Priority: extra
Description: Modular, high-performance log management solution (debug symbols)
 In concept nxlog is similar to syslog-ng or rsyslog but it is not limited to
 unix and syslog only. It supports different platforms, log sources and formats
 so nxlog can be an ideal choice to implement a centralized logging system.
 .
 This package includes the debugging symbols for nxlog-ce.
